[submodule "invoice-app"]
	path = invoice-app
	url = https://github.com/ShaoqinHou/invoice-app.git
[submodule "invoice-extractor"]
	path = invoice-extractor
	url = https://github.com/ShaoqinHou/invoice-extractor.git
[submodule "codegraph"]
	path = codegraph
	url = https://github.com/ShaoqinHou/codegraph.git
[submodule "flow-cards"]
	path = flow-cards
	url = https://github.com/ShaoqinHou/flow-cards.git
[submodule "grid-puzzles"]
	path = grid-puzzles
	url = https://github.com/ShaoqinHou/grid-puzzles.git
[submodule "nexus"]
	path = nexus
	url = https://github.com/ShaoqinHou/nexus.git
[submodule "hex-empires"]
	path = hex-empires
	url = https://github.com/ShaoqinHou/hex-empires.git
